.card-page-container {
  width: 100vw;
  @include flex;
  h1 {
    color: $pri-text;
  }
  background-color: $pri-background;
  .header-container {
    margin: 5px;
    width: $width;
    //  height: 100px;
    @include flex;
    justify-content: space-evenly;
    gap: 5px;
  }
  .sort-search-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .events-title {
    width: $width;
    text-align: center;
    margin: 10px;
    margin-bottom: -4px;
    height: 100px;
    background-image: url('../images/headerBackgroundsmall.png');
    background-repeat: round;
  }

  .card-container {
    background-color: $sec-background;
    width: 300px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    gap: 2rem;
    border-radius: 1rem;

    article {
      margin: 20px;
      padding: 10px;
      width: 90%;
      @include flex;
      gap: 0.5rem;
      border: 3px solid $line-color;
      border: 10px double $line-color;
      border-radius: 1rem;
      background-color: $pri-background;
      color: $sec-text;
      p {
        font-size: 0.7rem;
      }
    }
  }
  .pagination {
    width: 90%;
    margin-bottom: 20px;
    button {
      width: 6px;
      border: none;
    }
  }
}
