.event-page-container {
  margin-top: 5px;
  margin-bottom: 15px;
  width: $width;
  height: auto;
  @include flex;
  gap: 10px;
  background-color: $pri-background;
  color: $pri-text;
  font-size: 0.7rem;
  .card-body-event {
    @include flex;
    gap: 10px;
    margin: $marge;
    img {
      width: 250px;
      height: 250px;
      border-radius: 1rem;
    }
  }
  .description {
    width: $width;
    padding: 15px;
    background-color: $sec-background;
    border-radius: 1rem;
  }

  .time-container .time-display {
    display: flex;
    p {
      margin-right: 5px;
    }
  }

  .user-container {
    width: 90%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    background-color: $sec-background;
    border-radius: 1rem;

    .user-image {
      margin-left: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    p {
      text-align: center;
    }
  }
  button {
    width: 100px;
  }

  // display tablet and screens bigger then 800px
  @media screen and (min-width: 800px) {
    .event-page-container {
      width: 600px;
    }

    h1 {
      font-size: 2rem;
    }
    .description {
      width: 600px;
      padding: 15px;
      background-color: $sec-background;
      font-size: 0.9rem;
    }
    .time-container {
      display: flex;
      flex-direction: column;
      .time-display {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        p {
          margin-right: 5px;
          font-size: 0.9rem;
        }
      }
    }
    .categorie-container {
      font-size: 0.9rem;
    }
    .user-container {
      width: 600px;
      font-size: 0.9rem;
    }
  }
}
