.card-page-container {
  width: $width;
  height: 100%;
  @include flex;
  background-color: $pri-background;
  h1 {
    color: $pri-text;
  }
  .header-container {
    margin: 5px;
    width: $width;
    @include flex;
    justify-content: space-evenly;
    gap: 5px;
  }
  .sort-search-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .events-title {
    height: 100px;
    width: $width;
    margin: 10px;
    margin-bottom: -5px;
    background-image: url('../images/headerBackgroundsmall.png');
    background-repeat: round;
    h1 {
      text-align: center;
      margin-top: 30px;
      font-size: 2rem;
    }
  }

  .card-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $sec-background;
    width: 300px;
    height: 600px;
    overflow-x: hidden;
    text-align: center;
    border-radius: 1rem;
    gap: 5px;
    .card {
      width: $width;
      height: 400px;
      border: 3px double $line-color;
      border-radius: 1rem;
      background-color: $pri-background;

      .card-header {
        margin: $marge;
        width: $width;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        //gap: 5px;
        h1 {
          font-size: 1.1rem;
        }
        h3 {
          font-size: 0.9rem;
          color: $sec-text;
        }
        p {
          font-size: 0.7rem;
          color: $sec-background;
          margin-bottom: 10px;
        }
      }
      .card-body {
        margin-bottom: 5px;
        width: $width;
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 2rem;
        font-size: 0.6rem;
        img {
          width: 75px;
          height: 75px;
          border-radius: 0 1rem 1rem 0;
          box-shadow: #fc0 1px 0 10px;
        }
        .card-body-items {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 5px;
          .time-container {
            display: inline-flexbox;
            .time-display {
              display: flex;
              p {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
  .pagination {
    text-align: center;
    width: $width;

    margin: 20px;
    button {
      border: none;
      font-size: 0.7rem;
    }
    span {
      padding: 5px;
    }
  }

  // media queries
  // screens bigger then 800px
  @media screen and (min-width: 800px) {
    .header-container {
      margin: 5px;
      width: 1024px;
      @include flex;
      gap: 5px;
      .events-title {
        width: 720px;
      }
    }

    .card-container {
      width: 700px;
      height: 800px;

      .card {
        width: 600;
        height: 500px;
        .card-header {
          h1 {
            font-size: 1.5rem;
          }
          h3 {
            font-size: 1.2rem;
          }
          p {
            font-size: 1rem;
          }
        }
        .card-body {
          display: flex;
          align-items: start;
          justify-content: start;
          gap: 2rem;
          font-size: 1rem;
          img {
            width: 150px;
            height: 150px;
          }
        }
      }
    }
  }
}
