.header-container {
  width: $width;
  height: 100px;
  @include flex;
  background-image: url('../images/headerBackgroundsmall.png');
}
.sort-search-container {
  display: flex;
  align-items: flex-start;
}
