.home-page-container {
  margin: $marge;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/homepage-background.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  .homepage-title {
    height: 90px;
    width: $width;
    background-image: url('../images/headerBackgroundsmall.png');
    background-repeat: round;
    position: absolute;
    top: 0;
    h1 {
      text-align: center;
      color: $pri-text;
    }
  }

  .homepage-article {
    margin: $marge;
    margin-top: 100px;
    width: 100%;
    height: 80%;
    background-color: $sec-background;

    p {
      width: 90%;
      margin: 10px;
      padding: 15px;
      font-size: 0.7rem;
      text-align: center;
      color: $pri-text;
      font-weight: 600;
    }
  }
}
