.home-page-container {
  width: 100vw;
  background-image: url('../images/homepage-background.jpg');
  margin: $marge;
  h1 {
    margin: 10px;
    height: 100px;
    text-align: center;
    background-image: url('../images/headerBackgroundsmall.png');
    background-repeat: round;
  }

  .homepage-article {
    width: 70%;
    padding: 20px;
    margin-left: 28%;
    margin-top: 50%;
    border: 10px double $line-color;
    border-radius: 1rem;

    p {
      padding: 15px;
      font-size: 0.7rem;
    }
  }
}
