.home-page-container {
  position: relative;
  @include flex;
  width: 100vw;
  height: 100vh;
  //background-image: url('../images/homepage-background-medium.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: border-box;
  margin: $marge;
  .homepage-title {
    height: 90px;
    width: $width;
    background-image: url('../images/headerBackgroundsmall.png');
    background-repeat: round;
    position: absolute;
    top: 0;
    h1 {
      text-align: center;
    }
  }

  .homepage-article {
    margin: $marge;
    width: 70%;
    height: 100%;

    p {
      padding: 15px;
      font-size: 0.7rem;
      color: $pri-text;
    }
  }
}
