.navbar {
  margin: $marge;

  ul {
    margin-bottom: 20px;
    display: flex;
    list-style: none;
    li {
      margin: 10;
      width: 100px;
      text-align: center;
      padding: 2px 5px;
    }
  }
}
