$marge: 0 auto;
$width: 100%;
// fonts
$header: 'Monoton', sans-serif;
$text: 'Poppins', sans-serif;
// colors
$pri-background: rgb(97, 12, 208);
$pri-text: #f5f5f5;
$sec-text: #0a050b;
$sec-background: #cf21b8;
$line-color: #f9b117;
