.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  background-color: rgb(247, 71, 71);
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li {
  width: 90px;
  text-align: center;
  padding: 2px 5px;
  border: 1px black solid;
}

.root-container {
  position: relative;
  margin: 0, auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page-container {
  margin: 10px;
}
.home-page-container h1 {
  text-align: center;
}

.root-header {
  text-align: center;
  color: #f5f5f5;
  font-family: "Monoton", cursive, sans-serif;
}

.card-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(40, 4, 31);
}
.card-page-container h1 {
  color: #f5f5f5;
}
.card-page-container .header-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/headerBackgroundsmall.png");
}
.card-page-container .header-container .root-header {
  font-family: "Monoton", cursive, sans-serif;
  color: #f5f5f5;
}
.card-page-container .sort-search-container {
  display: flex;
  align-items: flex-start;
}
.card-page-container .card-container {
  background-color: #cf21b8;
  width: 300px;
  height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
  gap: 2rem;
  border-radius: 1rem;
}
.card-page-container .card-container article {
  margin: 20px;
  padding: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border: 3px solid #f9b117;
  border-radius: 2rem;
  background-color: rgb(97, 12, 208);
  color: #0a050b;
}
.card-page-container .pagination {
  margin-bottom: 10px;
}

.event-page-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 100%;
  margin: 0vw;
  padding: 5vw;
  background-color: rgb(175, 59, 139);
}
.form-container label {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 0 0 2vh 0;
}
.form-container input {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}
.form-container select {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 0 0 2vh 0;
}
.form-container .form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container .form-btn {
  display: inline-block;
  width: 30%;
  height: 2rem;
  border: 1px solid red;
  bottom: 0;
  cursor: pointer;
  font-size: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
}
.footer h6 {
  margin-top: 5px;
  color: #f5f5f5;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 4, 31);
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

.small-image {
  height: 150px;
  width: 150px;
}

.big-image {
  height: 300px;
  width: 300px;
}/*# sourceMappingURL=main.css.map */