@import 'vars';
@import 'mixin';
@import 'error-page';
@import 'navbar';
@import 'root';
@import 'homepage';
@import 'header';
@import 'eventspage';
@import 'eventpage';
@import 'form';
@import 'footer';
@import 'search-event';
@import 'sort-event';
@import 'buttons';

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: $width;
  margin: $marge;
  background-color: $pri-background;
  font-family: $text;
}
a {
  text-decoration: none;
  color: $pri-text;
}

.small-image {
  margin: $marge;
  height: 150px;
  width: 150px;
}
.big-image {
  margin: $marge;
  height: 300px;
  width: 300px;
}
