@import 'vars';
@import 'mixin';
@import 'error-page';
@import 'navbar';
@import 'root';
@import 'homepage';
@import 'header';
@import 'eventspage';
@import 'eventpage';
@import 'form';

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(40, 4, 31);
}
a {
  text-decoration: none;
  color: aliceblue;
}

.small-image {
  height: 150px;
  width: 150px;
}
.big-image {
  height: 300px;
  width: 300px;
}
